# Virtual env
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.*
!.env.example

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Secrets
*.pem
*.key

uploads/
ai_service/data/health_ihme_clean.json

